{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "react-app",
    "react-app/jest",
    "plugin:react/recommended",
    "plugin:@next/next/recommended",
    "plugin:storybook/recommended",
    "@lycolia/eslint-config",
    "prettier"
  ],
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    // Detect missing key prop
    "react/jsx-key": [
      "warn",
      {
        "checkFragmentShorthand": true,
        "checkKeyMustBeforeSpread": true
      }
    ],
    // Enforce shorthand or standard form for React fragments
    "react/jsx-fragments": [
      "warn",
      "syntax"
    ],
    // Prevent missing React when using JSX
    "react/react-in-jsx-scope": "off",
    // Validate whitespace in and around the JSX opening and closing brackets
    "react/jsx-tag-spacing": [
      "warn",
      {
        "closingSlash": "never",
        "beforeSelfClosing": "always",
        "afterOpening": "never",
        "beforeClosing": "never"
      }
    ],
    // Prevent extra closing tags for components without children
    "react/self-closing-comp": [
      "warn",
      {
        "component": true,
        "html": true
      }
    ],
    // Allow using img elements
    "@next/next/no-img-element": "off",
    // Disabled react-testing-library
    "testing-library/no-container": "off",
    // Disabled react-testing-library
    "testing-library/no-node-access": "off"
  }
}
